/* Global classes */

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, #root {
  width: 100%;
  height: 100%;
  /* font-family: Helvetica, sans-serif; */
  font-size: 16px;
}

html {
  overflow: auto;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.expand {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 1080px;
}

.centered {
  margin: 0 auto;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.divider {
  margin: 10px auto 30px auto;
  height: 2px;
  border: 1px solid #7ed2e9;
}

.fit-to-width {
  width: 100%;
  height: auto;
}

/* Custom styles */

.container {
  margin-top: 54px;
}

.card-container {
  margin-top: 50px;
}

.card {
  cursor: pointer;
}

.card-container-tab {
  margin: 20px auto;
  text-align: center;
  border-bottom: 4px solid rgb(126, 210, 233);
}

.card-container-tab-item {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  padding-top: 5px;
  margin-bottom: -7.6px;
  color: #888;
  background-color: transparent;
  display: inline-block;
}

.card-container-tab-item.active {
  border: 0;

  border-top: 4px solid rgb(126, 210, 233);
  border-right: 4px solid rgb(126, 210, 233);
  border-left: 4px solid rgb(126, 210, 233);
  background-color: #FFFFFF;

}

.card-container-tab-item:first-child {
  margin-right: 5px;
}

.card {
  min-height: 350px;
  margin-bottom: 30px;
  border-width: 2px !important;
}

.card:hover {
  border-color: rgb(126, 210, 233);
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.poll-item {
  background: transparent;
  border: 4px solid #7ed2e9;
  border-radius: 5px;
  color: #fff;
}

.poll-item > img {
  width: 100%;
  height: 180px;
}

.poll-block {
  color: #000;
  padding: 15px;
  min-height: 200px;
}

.vote-img {
  cursor: pointer;
  max-width: 300px;
}

.comment-input {
  height: 40px;
  padding: 10px;
  border: 2px solid #cfcece;
  color: #939393;
}

.comment-list-container {
  margin-top: 30px;
  min-height: 300px;
  padding: 20px;
}

.comment-list-wrapper {
  padding: 20px;
  min-height: 200px;
  border: 4px solid #36a2c0;;
}

.comment-list-tab-wrapper {
  margin: 0 auto;
  text-align: center;
}

.comment-list-tab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  border: 2px solid #36a2c0;
  border-radius: 5px;
  color: #fff;
}

.comment-list-tab.active {
  color: #7dd5ed;
  background-color: #fff;
}

.comment-item {
  padding: 0 10px;
  color: #6a6a6a;
}

.percentage-left, .percentage-right {
  display: inline-block;
  font-size: 30px;
  color: #36a2c0;
}

.percentage-left {
  float: left;
}

.percentage-right {
  float: right;
}

.percentage-bar {
  border: 2px solid #2ea2c2;
  height: 4px;
}
