/* Global classes */

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, #root {
  width: 100%;
  height: 100%;
  /* font-family: Helvetica, sans-serif; */
  font-size: 16px;
  overflow: auto;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

.expand {
  background-color: #fff;
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 1080px;
}

.centered {
  margin: 0 auto;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.divider {
  margin: 10px auto 30px auto;
  height: 2px;
  border: 1px solid #7ed2e9;
}

.fit-to-width {
  width: 100%;
  height: auto;
}

/* Custom styles */

.card-container {
  margin-top: 50px;
}

.card {
  cursor: pointer;
}

.card-container-tab {
  margin: 20px auto;
  text-align: center;
}

.card-container-tab-item {
  cursor: pointer;
  border-radius: 2px;
  padding: 10px;
  color: #888;
  border: 1px solid #888;
  display: inline-block;
}

.card-container-tab-item.active {
  border: 1px solid #fff;
  color: #fff;
}

.card-container-tab-item:first-child {
  margin-right: 5px;
}

.poll-item {
  background: transparent;
  border: 4px solid #7ed2e9;
  border-radius: 5px;
  color: #fff;
}

.poll-item > img {
  width: 100%;
  height: 180px;
}

.poll-block {
  padding: 15px;
  min-height: 200px;
}

.vote-img {
  cursor: pointer;
  max-width: 300px;
}

.comment-input {
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #cfcece;
  color: #939393;
}

.comment-list-container {
  margin-top: 30px;
  min-height: 300px;
  background: #6bcfea; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#6bcfea, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6bcfea, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6bcfea, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6bcfea, #fff); /* Standard syntax */
  padding: 20px;
}

.comment-list-wrapper {
  min-height: 200px;
  background: rgba(255, 255, 255, .3);
  border: 4px solid #fff;
}

.comment-list-tab-wrapper {
  margin: 0 auto;
  text-align: center;
}

.comment-list-tab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  background-color: #92bfcb;
}

.comment-list-tab.active {
  color: #7dd5ed;
  background-color: #fff;
}
